[Unit]
Description=Rotem Sela
After=network.target

[Service]
User=rogat
Restart=always
ExecStartPre=/bin/sleep 10
ExecStart=/home/rogat/Projects/ROBOT_ROTEM_SELA/rotem_sela_top/backend-docker/rotem_sela_backend/start_my_app.sh
WorkingDirectory=/home/rogat
#/home/rogat/Projects/ROBOT_ROTEM_SELA/rotem_sela_top/backend-docker/rotem_sela_backend
Environment=PYTHONPATH=/home/rogat/Projects/ROBOT_ROTEM_SELA/rotem_sela_top/backend-docker/rotem_sela_backend/venv_name/bin/python

[Install]
WantedBy=multi-user.target

