#put this file under /etc/systemd/system/myservice.service (without note lines)
#sudo systemctl enable my_app.service
#sudo systemctl start my_app.service


[Unit]
Description=Rotem Sela

[Service]
User=rogat
ExecStart=/home/rogat/ESP32-ROTEM-SELA/rotem_sela_top/backend-docker/rotem_sela_backend/start_my_app.sh
WorkingDirectory=/home/rogat/ESP32-ROTEM-SELA/rotem_sela_top/backend-docker/rotem_sela_backend
Environment=PYTHONPATH=/home/rogat/ESP32-ROTEM-SELA/rotem_sela_top/backend-docker/rotem_sela_backend/.venv/lib/python3.11

[Install]
WantedBy=multi-user.target